textarea{
	width:100%;
}

input[type=submit] {
	margin-top:10px;
}

body {
  background: rgb(254, 194, 62);
}

.datepicker{
		max-width:110px;	text-align:center;	display:inline-block;
}

/*nav{*/
/*	margin-top:100px;*/
/*}*/
